header{
    background-color: #30AFFF;
}

.site-header {
    background-color: #30AFFF;
    padding: 10px 30px;
    position: sticky;
    top: 0;
    left: 0;
    width: 96%;
    z-index: 1000;
}

.site-header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imagen img {
    width: 50px;
}

.site-header ul {
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
    padding: 0;
    margin-left: 0%;
}

.site-header ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.site-header ul li a:hover {
    color: black;
}

.margen{
    margin-left: 0%;
}

.mar-body{
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
}

.footer .footer-inner{
    background-color: #30AFFF;
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
    padding: 10px;
    margin-left: 0%;
}

.lista-alumnos{
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
    padding: 0;
    margin-left: 0%;
}

.contenedor {
    display: flex;
    width: 100%;
}

.mitad {
    width: 50%;
    padding: 30px;
    box-sizing: border-box;
}


.contacto {
    width: 50%;
    margin: 50px auto;
}

.contacto h2 {
    text-align: center;
}

.contacto form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contacto input,
.contacto textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.contacto textarea {
    resize: vertical;
}

.contacto button {
    padding: 12px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contacto button:hover {
    background-color: #555;
}